.App {
  display: flex;
  flex-direction: column;
  font-size: 15px
}

.parameters {
  display: flex;
  flex-direction: column;
}

.parameters input {
  width: 100px
}

/*button*/
.large-button {
	width: 50%;
	height: 30px;
	color: white;
	border-style: hidden;
	cursor: pointer;
	/* background-color: #ea7a87; */
	box-shadow: 0 4px 2px -2px #c0c0c0;
	font-size: 15px;
  border-radius: 15px;
  margin: 10px
}

.large-button:hover {
	color: #c0c0c0;
}

.blue-class {
	background-color: #0288d1;
}

.red-class {
	background-color: #d50000;
}

.infoContainer {
  margin: 10px;
  border-bottom: 1px solid gray
}

.infoContainer2 {
  margin: 10px;
  border-bottom: 1px solid gray;
  color: red
}
